bluepy==1.3.0
git+https://github.com/WildflowerSchools/database_connection.git
git+https://github.com/WildflowerSchools/database_connection_honeycomb.git
git+https://github.com/WildflowerSchools/graphql-python-client-generator.git
git+https://github.com/WildflowerSchools/wildflower-honeycomb-sdk-py.git
git+https://github.com/WildflowerSchools/shoe_sensor.git
click==7.0
